---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from "@unpic/astro";
const title = "Computer Generated Imagery";

// import { getCollection } from "astro:content";
// const albums = await getCollection("albums");
// console.log(albums);
console.log(Astro.props);

---

<BaseLayout title={title}>
<div class="content">
    <!-- WIDE IMAGE HERE -->
    <p>Page is under construction, please see my portfolio <a href="https://www.artstation.com/haffy">Artstation</a> for more of my work.</p>

</div>

</BaseLayout>