---
import BaseLayout from '../layouts/BaseLayout.astro';
const title = "Computer Generated Imagery";

---

<BaseLayout title={title}>
<div class="content">
    <!-- WIDE IMAGE HERE -->
    <p>Page is under construction, please see my portfolio <a href="https://www.artstation.com/haffy">Artstation</a> for more of my work.</p>

</div>

</BaseLayout>