---
import '../style/main.css';
---



<html lang="en">
  <head>
    <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

		<title>NJORD</title>
	</head>
	<body>
    <div class="container">

      <div class="top">
        <h1>Welcome to NJORD!</h1>
        <p>Freelance 3D, Animation and Web3D studio.</p>
      </div>
      <div class="bottom">
        <h2>Page is under construction..</h2>
        <p>Meanwhile check out my work on:</p>
        <a href="https://www.artstation.com/haffy">Artstation</a>
        <a href="https://www.instagram.com/njord_studio/">Instagram</a>
      </div>
    </div>
	</body>
</html>
