---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from "@unpic/astro";
// import { Image } from 'astro:assets';

const title = "Welcome to NJORD!";
---

<BaseLayout title={title}>

        <div class="top">
            <br />
            With more than ten years of 3D experience, I now do freelance work.
            <br />
            <br />
            <br />
            <Image
                src="https://njordstudioab-776988930.imgix.net/searching_surfing_varberg.jpg"
                alt="Summer surfing in Varberg"
            />

        </div>

</BaseLayout>