---
import BaseLayout from '../layouts/BaseLayout.astro';
const title = "Welcome to NJORD!";
---

<BaseLayout title={title}>

        <div class="top">
            <br />
            <h2>Page is under construction!</h2>
            <br />
            <br />
            <br />
            <h2>Will be back soon!</h2>
        </div>

</BaseLayout>