---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>NJORD</title>
	</head>
	<body>
		<h1>Welcome to NJORD studio.</h1>
    <p>3D, Animation and Web3D freelance studio.</p>
	</body>
</html>
