---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from "@unpic/astro";

const title = "Welcome to NJORD!";
---

<BaseLayout title={title}>

        <div class="top">
            <br />
            <h2>Page is under construction!</h2>
            <br />
            <br />
            <br />
            <Image
                src="https://njordstudioab-776988930.imgix.net/searching_surfing_varbergs.webp"
                alt="Searching for waves in Varberg"
                placeholder="blurhash"
            />

        </div>

</BaseLayout>