:root {
    --black: #292926;
    --dark: #474747;
    --middle: #656563;
    --light: #b7b7b2;
    --white: #fcfafa;
    --off-white: #f7f5f2;
    --pop: #c7bba2; /* Modern Navy */
    --font-heading: "Mulish", sans-serif;
    --font-text: "Mulish", sans-serif;
    --small-font: 0.75rem;
}

/* Global Styles */
body {
    background: var(--white);
    margin: 0;
    padding: 0;
    font-family: var(--font-text);
    font-size: 16px;
}

h1, h2, h3, p, a {
    color: var(--black);
}

h1, h2, h3 {
    font-family: var(--font-heading);
    font-weight: 900;
    font-style: normal;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-block-start: 0;
    margin-block-end: 2rem;

    @media screen and (max-width: 768px) {
        font-size: 2rem;
        letter-spacing: -0.1rem;
    }
}

h2 {
    font-optical-sizing: auto;
    font-size: 1.75rem;

    @media screen and (max-width: 768px) {
        font-size: 1.75rem;
        letter-spacing: -0.05ch;
    }
}

h3 {
    font-optical-sizing: auto;
    font-size: 1.25rem;

    @media screen and (max-width: 768px) {
        font-size: 1.125rem;
        letter-spacing: 0.025ch;
    }
}

p {
    font-family: var(--font-text);
    font-optical-sizing: auto;
    font-size: 1.25rem;
    text-align: left;
    line-height: 1.4;
    letter-spacing: 0.025ch;
    font-weight: 300;

    @media screen and (max-width: 768px) {
        font-size: 1.125rem;
        letter-spacing: 0.025ch;
    }
}

a {
    font-optical-sizing: auto;
    font-style: none;
    text-decoration: none;
    padding-bottom: 1px;
    margin-bottom: 0.5rem;
    font-weight: 300;
    font-size: 1.125rem;

    &:hover,
    &:active {
        color: var(--pop);
    }

    .styledLink {
        border-bottom: 1px solid var(--pop);
    }
}

li {
    font-family: var(--font-text);
    font-optical-sizing: auto;
    font-size: 1.125rem;
    text-align: left;
    line-height: 1.4;
    letter-spacing: 0.025ch;
    font-weight: 400;
}

img {
    max-width: 100%;
    max-height: 80dvh;
    object-fit: contain;
    height: auto;
}

/* Container */
.container {
    max-width: 858px;
    margin: 0 auto;
    padding: 3.5rem 0;

    @media (max-width: 1200px) {
        max-width: 720px;
    }

    @media (max-width: 720px) {
        max-width: 540px;
        padding: 2rem 0;
    }

    @media (max-width: 540px) {
        max-width: 100vw;
        padding: 2rem 0;
    }
}

/* Header */
header {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
    min-height: 3.5rem;

    .headerLogo {
        height: auto;
        position: absolute;
        top: 14px;
        left: 14px;

        @media screen and (min-width: 720px) {
            top: 20px;
            left: 36px;
        }
    }

    .hiddenLogo {
        display: none;
    }
}

/* Footer */
footer {
    background-color: var(--black);
    text-align: center;
    padding: 1rem;

    a, p, h1, h2, h3 {
        color: var(--white);
        font-size: 1rem;

        &:hover {
            color: var(--pop);
        }
    }

    .footerContainer {
        margin-bottom: 2.5rem;

        .followMe {
            display: flex;
            justify-content: center;
            gap: 1rem;
            align-items: center;
            flex-wrap: wrap;
        }

        .footerChild {
            margin: 1.5rem 0;
        }

        h3 {
            margin-bottom: 0.25rem;
        }
    }

    .footerBottomText {
        display: flex;
        justify-content: center;
        gap: 1rem;

        p, a {
            font-size: var(--small-font);
            font-weight: 400;
            font-style: italic;
            color: var(--dark);
        }
    }

    .footerLogo {
        margin: 3rem 0 1rem 0;
    }
}

/* Stories */
.stories {
    max-width: 858px;
    margin: 0 auto;
    overflow-wrap: break-word;
    hyphens: manual;

    .storyInformation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;

        .storyAuthor,
        .storyDate,
        .storyTags {
            font-size: 0.85rem;
            font-weight: 400;
            font-style: italic;
            height: 1rem;
            margin: 0.25rem;
        }
    }
}

.blurhash-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    max-height: 80dvh;
    margin: 2rem 0;
}

/* Navigation */
.navigation {
    justify-content: center;
    align-content: center;
    gap: 2rem;
    background-color: var(--black);
    display: none;
    margin: 0 auto;
    min-height: 4rem;

    a {
        padding: 10px 0;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 0;
        align-content: center;
        color: var(--white);

        &:hover,
        &:focus {
            color: var(--pop);
        }

        @media (max-width: 720px) {
            font-size: 3rem;
        }
    }

    &.expanded {
        display: flex;
        flex-direction: column;
        top: 50px;
        height: 100vh;
        width: 100vw;
        max-width: 100%;
        justify-content: center;
        z-index: 200;
    }

    @media (min-width: 720px) {
        display: flex;
        background: none;

        a {
            display: inline-block;
        }
    }
}

#hamburger {
    position: absolute;
    top: 0.6875rem;
    right: 0.85rem;
    width: 2.5rem;
    height: 45px;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;

    span {
        display: block;
        position: absolute;
        height: 0.5rem;
        width: 100%;
        border-radius: 2px;
        background-color: var(--white);
        opacity: 1;
        left: 0;
        transition: 0.25s ease-in-out;

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2), &:nth-child(3) {
            top: 14px;
        }

        &:nth-child(4) {
            top: 28px;
        }
    }

    &.open {
        span:nth-child(1) {
            top: 18px;
            width: 0%;
            left: 50%;
        }

        span:nth-child(2) {
            transform: rotate(45deg);
        }

        span:nth-child(3) {
            transform: rotate(-45deg);
        }

        span:nth-child(4) {
            top: 18px;
            width: 0%;
            left: 50%;
        }
    }
}

/* Responsive */
@media screen and (min-width: 720px) {
    .navigation {
        display: flex;
        background: none;
    }

    .navigation a {
        display: inline-block;
    }

    .hamburger {
        display: none;
    }
}

/* Breakpoints */
@media (max-width: 1200px) {
    .container {
        max-width: 720px;
    }

    .navigation {
        max-width: 720px;
    }
}

@media (max-width: 720px) {
    .container {
        max-width: 540px;
        padding: 2rem 0;
    }

    .content p,
    .content h1,
    .content h2,
    .content h3,
    .content h4,
    .content li {
        padding: 0 1rem;
    }

    .navigation {
        max-width: 540px;
    }
}

@media (max-width: 540px) {
    .container {
        max-width: 100vw;
        padding: 2rem 0;
    }

    .navigation {
        max-width: 100vw;
    }
}

/* Skill Cloud */
.skillCloud {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1rem;
}

/* Styled Scrollbar */
@supports selector(::-webkit-scrollbar) {
    .styledScrollbar::-webkit-scrollbar {
        width: 3px !important;
        background-color: transparent;
        max-width: var(--scrollbar-width-legacy);
        width: 10px;
        height: 10px;
    }

    .styledScrollbar::-webkit-scrollbar-thumb {
        background: var(--dark);
    }

    .styledScrollbar::-webkit-scrollbar-track {
        background-color: transparent;
    }
}

/* Articles List */
.articlesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    margin: 2rem 1rem 0 1rem;

    .articleItem {
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        width: calc(33% - 1rem);
        height: 320px;
        border-radius: 0.25rem;
        background: var(--off-white);
        border-bottom: none;

        @media screen and (max-width: 1200px) {
            width: calc(50% - 1rem);
        }

        @media screen and (max-width: 720px) {
            width: calc(50% - 1rem);
        }

        @media screen and (max-width: 540px) {
            width: 100%;
        }

        &:hover, &:active {
            background-color: var(--pop);

            h2, p {
                color: var(--white);
            }
        }

        img {
            width: 100%;
            height: 150px;
            object-fit: cover;
            object-position: center;
            border-radius: 0.25rem 0.25rem 0 0;
        }

        .articleItemInfo {
            display: flex;
            flex-direction: column;
            width: 100%;

            h2, p {
                text-align: left;
                padding: 0 1rem;
                margin-bottom: 0;
            }
        }
    }
}

/* Center */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;
}

.text-center {
    text-align: center;
}

/* Tags List */
.tagsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem 0;
}

/* Button */
button {
    font-family: var(--font-text);
    background-color: var(--off-white);
    color: var(--dark);
    text-transform: uppercase;
    font-optical-sizing: auto;
    font-size: 1.125rem;
    letter-spacing: 0.05ch;
    font-weight: 900;
    border: none;
    border-radius: 0.125rem;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    cursor: pointer;

    &:hover,
    &:active {
        background-color: var(--pop);
        color: var(--white);
    }
}

/* Figure */
figure {
    margin: 2rem 0;

    figcaption {
        text-align: center;
        color: var(--light);
        padding: 2px 0 4px 0;
        font-size: var(--small-font);
    }

    p {
        margin-block-start: 0;
        margin-block-end: 0;
        height: fit-content;
    }

    &.stories figcaption {
        position: relative;
        top: -2px;
    }
}

.portal {
    figcaption {
        text-align: center;
        color: var(--light);
        padding: 2px 0 4px 0;
        font-size: var(--small-font);
        position: absolute;
        bottom: 0;
        background: var(--black);
        width: 100%;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.dot {
    margin: 0 4px; /* Adjust spacing as needed */
}

.m-top-1 {
    margin-top: 1rem;
}

.m-top-2 {
    margin-top: 2rem;
}

.m-top-3 {
    margin-top: 3rem;
}

.m-top-4 {
    margin-top: 4rem;
}

.m-bottom-1 {
    margin-bottom: 1rem;
}

.m-bottom-2 {
    margin-bottom: 2rem;
}

.m-bottom-3 {
    margin-bottom: 3rem;
}

.m-bottom-4 {
    margin-bottom: 4rem;
}

.text-bold,
.text-bold a {
    font-weight: 900;
}