:root {
    --black: #1a1a1a;
    --dark: #474747;
    --white: #fcfcfc;
    --font-heading: "Mulish", sans-serif;
    --font-text: "Mulish", sans-serif;
}

body {
    background: var(--white);
    margin: 0;
    padding: 0;
    font-family: var(--font-text);
    font-size: 16px;
}

h1,
h2,
h3,
p,
a {
    color: var(--black);
    text-align: center;
}

h1,
h2,
h3 {
    font-family: --var(font-heading);
    font-weight: 900;
    font-style: normal;
}

h1 {
    font-size: 4rem;
    text-transform: uppercase;
    margin-block-start: 0;
    margin-block-end: 3rem;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
        letter-spacing: -0.1rem;
    }
}

h2 {
    font-optical-sizing: auto;
    font-size: 1.75rem;
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 1.75rem;
        letter-spacing: -0.05ch;
    }
}

h3 {
    font-optical-sizing: auto;
    font-size: 1.125rem;
}

@media screen and (max-width: 768px) {
    h3 {
        font-size: 1.125rem;
        letter-spacing: 0.025ch;
    }
}

p {
    font-family: --var(font-text);
    font-optical-sizing: auto;
    font-size: 1.125rem;
    text-align: left;
    line-height: 1.4;
    letter-spacing: 0.025ch;
    font-weight: 400;
}

a {
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    padding-bottom: 1px;
    margin-bottom: 0.5rem;
    font-weight: 400;
    font-size: 1.125rem;
}

a:hover {
    color: #f2d0b8;
}

li {
    font-family: --var(font-text);
    font-optical-sizing: auto;
    font-size: 1.125rem;
    text-align: left;
    line-height: 1.4;
    letter-spacing: 0.025ch;
    font-weight: 400;
}

.container {
    max-width: 858px;
    margin: 0 auto;
    padding: 3.5rem 0;
}

header {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
    min-height: 3.5rem;
}

footer {
    background-color: var(--black);
    text-align: center;
    padding: 1rem;
}

footer a,
footer p,
footer h1,
footer h2,
footer h3 {
    color: var(--white);
    font-size: 1rem;
}

footer p:hover,
footer a:hover {
    color: var(--dark);
}

.footerContainer {
    margin-bottom: 2.5rem;
}

footer .footerBottomText {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

footer .footerBottomText p,
footer .footerBottomText a {
    font-size: 0.75rem;
    font-weight: 400;
    font-style: italic;
    color: var(--dark);
}
.footerLogo {
    margin: 3rem 0 1rem 0;
}

/* STORIES */
.stories {
    max-width: 858px;
    margin: 0 auto;
    overflow-wrap: break-word;
    hyphens: manual;
}

.stories img {
    width: auto;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.blurhash-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    max-height: 80dvh;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.blurhash-image {
    max-width: 100%;
    max-height: 80dvh;
    object-fit: cover;
    display: none;
}

.stories .storyInformation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.stories .storyInformation .storyAuthor {
    font-size: 1rem;
    font-weight: 600;
    font-style: italic;
    height: 1rem;
    margin: 0.25rem;
}

.stories .storyInformation .storyDate {
    font-size: 1rem;
    font-weight: 600;
    font-style: italic;
    height: 1rem;
    margin: 0.25rem;
}

/* NAVIGATION */
.navigation {
    justify-content: center;
    align-content: center;
    gap: 2rem;
    background-color: var(--black);
    display: none;
    margin: 0 auto;
    min-height: 4rem;
}

.navigation a {
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0;
    align-content: center;
}

@media (max-width: 720px) {
    .navigation a {
        font-size: 3rem;
    }
}

.navigation a {
    color: var(--white);
    text-decoration: none;
}

.navigation a:hover,
.navigation a:focus {
    color: var(--dark);
}

.expanded {
    display: flex;
    flex-direction: column;
    top: 50px;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    justify-content: center;
    z-index: 200;
}

#hamburger {
    position: absolute;
    top: 0.6875rem;
    right: 0.5rem;
    width: 3rem;
    height: 45px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#hamburger span {
    display: block;
    position: absolute;
    height: 0.5rem;
    width: 100%;
    border-radius: 2px;
    background-color: var(--white);
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

#hamburger span:nth-child(1) {
    top: 0px;
}

#hamburger span:nth-child(2),
#hamburger span:nth-child(3) {
    top: 14px;
}

#hamburger span:nth-child(4) {
    top: 28px;
}

#hamburger.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#hamburger.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

/* RESPONSIVE */
@media screen and (min-width: 720px) {
    .navigation {
        display: flex;
        background: none;
    }

    .navigation a {
        display: inline-block;
    }

    .hamburger {
        display: none;
    }
}

/* Breakpoint for 720px and Up */
@media (max-width: 1200px) {
    .container {
        max-width: 720px;
    }

    .navigation {
        max-width: 720px;
    }
}

/* Breakpoint for 540px and Up */
@media (max-width: 720px) {
    .container {
        max-width: 540px;
        padding: 2rem 0;
    }

    .container a,
    .container p,
    .container h1,
    .container h2,
    .container h3 {
        padding: 0 1rem;
    }

    .navigation {
        max-width: 540px;
    }
}

/* Breakpoint for 240px and Up */
@media (max-width: 540px) {
    .container {
        max-width: 100vw;
        padding: 2rem 0;
    }

    .navigation {
        max-width: 100vw;
    }
}

.skillCloud {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0.875rem;
}

@supports selector(::-webkit-scrollbar) {
    .styledScrollbar::-webkit-scrollbar {
        width: 3px !important;
        background-color: transparent;
        max-width: var(--scrollbar-width-legacy);
        width: 10px;
        height: 10px;
    }
    .styledScrollbar::-webkit-scrollbar-thumb {
        background: var(--dark);
    }
    .styledScrollbar::-webkit-scrollbar-track {
        -webkit-box-shadow: none !important;
        background-color: transparent;
    }
}

/* STORIES / ARTICLES LIST */
.articlesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 2rem;
}

.articleItem {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: calc(33% - 1rem);
    height: 350px;
    border-radius: 0.5rem;
    background: #f1f1f1;
}

@media screen and (max-width: 1200px) {
    .articleItem {
        width: calc(50% - 1rem);
    }
}

@media screen and (max-width: 720px) {
    .articleItem {
        width: calc(50% - 1rem);
    }
}

@media screen and (max-width: 540px) {
    .articlesList {
        justify-content: center;
    }
    .articleItem {
        width: 100%;
    }
}

.articleItem:hover {
    background-color: #f2f2f2;
}

.articleItem img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem 0.5rem 0 0;
}

.articleItemInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.articleItemInfo h2,
.articleItemInfo p {
    text-align: left;
    padding: 0 0.5rem;
}

.articleDescription {
    display: none;
}
