---
import { Image } from "astro:assets";
import blurhashes from '../blurhashes.json';

const { src, alt } = Astro.props;
const image = { src };

const imageKey = src && src.src ? src.src.split('/').pop().split('?')[0] : '';
const blurhash = blurhashes[imageKey];
---

<div
    class="blurhash-placeholder"
    data-blurhash={blurhash}
    data-width={image.src.width / 2}
    data-height={image.src.height/ 2}
    style={`width: ${image.src.width / 2} px; height: ${image.src.height / 2} px;`}
>
    <Image
        class="blurhash-image"
        src={image.src}
        width={image.src.width / 2}
        densities={[1.5, 2]}
        alt={alt}
        loading="lazy"
    />
</div>

<!-- To get CSR to decode blurhash -->
<script type="module">
  import { decode } from 'blurhash';

  if (typeof window !== 'undefined') {
    window.decode = decode;
  }
</script>

<script is:inline>

    document.addEventListener('DOMContentLoaded', () => {
      document.querySelectorAll('.blurhash-placeholder').forEach(placeholder => {
        const blurhash = placeholder.getAttribute('data-blurhash');
        console.log(blurhash);

        const width = parseInt(placeholder.getAttribute('data-width'), 10);
        const height = parseInt(placeholder.getAttribute('data-height'), 10);

        const pixels = window.decode(blurhash, width, height);
        // const pixels = window.decode("UhJtF]D%OFE1.mIUM{RPt8RjVsn+WCt7smof", 16, 16);

        const canvas = document.createElement('canvas');
        canvas.width = width;
        canvas.height = height;
        const ctx = canvas.getContext('2d');
        const imageData = ctx.createImageData(width, height);
        imageData.data.set(pixels);
        ctx.putImageData(imageData, 0, 0);

        placeholder.style.backgroundImage = `url(${canvas.toDataURL()})`;

        document.querySelectorAll('.blurhash-image').forEach(img => {
          img.addEventListener('load', () => {
            img.style.display = 'block';
            placeholder.style.backgroundImage = '';
          });
        });
      });
    });
  </script>