---
import Social from './Social.astro';
import njordLogo from "/src/assets/logo/NJORDSTUDIO_logo_white.svg";
---

        <footer>
            <a href="/"><img class="footerLogo" src={njordLogo.src} alt="Logo" style="width: 300px; height: auto;" /></a>

            <div class="footerContainer">
                <h3>Contact me:</h3>
                <a href="mailto:fredrik@njordstudio.com?subject=Hello!">E-mail (fredrik@njordstudio.com)</a>
                <br />
                <a href="tel:+1234567890">Phone (+46 (0) 733 600 080)</a>
            </div>

            <div class="footerContainer">
                <h3>Follow me:</h3>
                <Social platform="Instagram" username="njord_studio" />
                <!-- <Social platform="Cara" username="fredriksvard" /> -->
                <Social platform="Github" username="sirhaffy" />
                <!-- <Social platform="Youtube" username="njordstudio" /> -->
            </div>

            <!-- <h3>Newsletter Signup:</h3>
            <p>You email here</p> -->

            <div class="footerBottomText">
                <!-- <p>RSS-feed</p> -->
                <p>© 2024 Njord Studio AB. All Rights Reserved.</p>
            </div>
        </footer>


        <script>
            import "../scripts/menu.js";
        </script>

    </body>

</html>