---
import '../style/main.css';
import Navigation from '../components/Navigation.astro';
import Hamburger from './Hamburger.astro';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
            <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="generator" content={Astro.generator} />
        <meta name="description" content="Freelance 3D, Animation and Web3D studio.">
        <meta name="copyright"content="NJORD Studio AB">
        <meta name="keywords" content="3D, Animation, Web3D, VFX"/>
        <title>NJORD</title>

        <!-- SOME -->
        <meta property="og:title" content="NJORD" />
        <meta property="og:description" content="Freelance 3D, Animation and Web3D studio." />
        <meta property="og:type" content="website" />
        <!-- <meta property="og:url" content="https://www.example.com/page-url" /> -->
        <!-- <meta property="og:image" content="https://www.example.com/image.jpg" /> -->

        <!-- Google Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
	</head>

    <body class="styledScrollbar">

        <header>
            <Navigation />
            <Hamburger />
        </header>