---
import '../style/main.scss';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { frontmatter, title } = Astro.props;
---

<Header />
    <section class="container">
        <h1 class="center m-top-2 m-bottom-4">{title || frontmatter.title}</h1>
        <slot />
    </section>
<Footer />