---
import '../style/main.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { frontmatter, title } = Astro.props;
// console.log("Baselayout frontmatter: ", frontmatter);
---

<Header />
    <section class="container">
        <h1 class="center">{title || frontmatter.title}</h1>
        <slot />
    </section>
<Footer />