---
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;

// console.log("post", frontmatter);
---

<BaseLayout frontmatter={frontmatter}>
    <article class="stories">
        <div class="storyInformation">
            <p class="storyAuthor">Written by: {frontmatter.author}</p>
            <p class="storyDate">Published: {frontmatter.date.toString().slice(0,10)}</p>
            <!-- todo: add tags -->
            <div class="storyTags">
                {frontmatter.tags.map((tag, index) => {
                    return (
                        <>
                            <span class="tag">Tags: {tag}</span>
                            {index !== frontmatter.tags.length - 1 && ", "}
                        </>
                    );
                })}

            </div>
        </div>

        <div class="content">
            <slot />
        </div>

    </article>

</BaseLayout>